# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Env
.env
venv/
env/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node
node_modules/
dist/

# Vite
frontend/node_modules/
frontend/dist/

# Model files
*.pt
*.bin

# IDE
.vscode/
.idea/
